<h1> Sign Up </h1>

<%= form_for @user do |f| %>

<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :street_name %>
  <%= f.text_field :street_name %>
</p>

<p>
  <%= f.label :city_name %>
  <%= f.text_field :city_name %>
</p>

<p>
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
</p>

<p>
  <%= f.label :country %>
  <%= f.text_field :country %>
</p>

<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :primary_contact_number %>
  <%= f.text_field :primary_contact_number %>
</p>

<p>
  <%= f.label :secondary_contact_number %>
  <%= f.text_field :secondary_contact_number %>
</p>

<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation %>
</p>

<p>
  <%= f.submit "sign up" %>
</p>
<% end%>
